<app-page-content [scrollContent]="false">
  <!--
    <div #timelineEl style="background: red; overflow: auto" id="timeline" >
  aaaaaaaaaaaaaaa
    </div>

  -->


  <div #scrollViewport id="scroll_viewport" class="scroll_viewport" (scroll)="handleScroll($event)">
    <div style="position: absolute; top:400px; left: 10px; height:1em; width: 3em; background: blue; z-index: 10">MMM
    </div>
    <div #scrollableContainer id="scroll_content_wrap" class="scroll_content_wrap"
         style="z-index: 1; position: relative; width: 0px; height: 199px;"
         (wheel)="handleWheel($event)">
      <svg #backgroundSvgEl width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" />


    </div>

  </div>

</app-page-content>

<ng-template #tplHeaderCell let-data="data">
  <div class="header_cell" style="width: 200px; height:20px">
    <div class="title">{{data.title}}</div>
    <div style="position:absolute; top:200px; left:10px; width:30px; height:20px; background: red"></div>
  </div>
</ng-template>


<ng-template #tplHeaderLabel let-data="data">
  <span class="header_label">{{data.text}}</span>
</ng-template>

<ng-template #tplNotWorking>
  <span style="background: blue; display: block; height: 200px; position: absolute"></span>
</ng-template>


<ng-template #tplEventItem let-box="box" let-data="data">
  <div [style.background-color]="data.color" class="event_item" [class.clip_start]="box.clipStart > 0"
       [class.clip_end]="box.clipEnd > 0">
    <div [style.width.px]="box.clipStart"></div>
    <mat-icon *ngIf="box.clipStart > 0">arrow_left</mat-icon>
    <div class="title">{{data.title}}</div>
    <mat-icon *ngIf="box.clipEnd > 0"> arrow_right</mat-icon>
    <div [style.width.px]="box.clipEnd"></div>
  </div>
</ng-template>


